<ion-header [translucent]="true"  *ngIf="this.role=='facteur'">
  <ion-toolbar color="primary">
    <ion-title>
      Gestion des Collectes
    </ion-title>
    <ion-button  size="small " color="warning"  *ngIf="this.role=='agent'" (click)="logout()"> <ion-icon name="trash-outline"></ion-icon></ion-button>

  </ion-toolbar>
</ion-header>

<ion-content  *ngIf="this.role=='facteur'"  > 
  <input type="text" [(ngModel)]="SearchText" class="form-control bg-light border-0 small"
(keyup)="searchByLib()"
placeholder="Recherche..." aria-label="Search" aria-describedby="basic-addon2">
  <ion-grid>
    <ion-row >
      <ion-col>
        numero
      </ion-col>
      <ion-col>
        libelle
      </ion-col>
      <ion-col>
        Date Collecte
      </ion-col>
      <ion-col>
        Total TTC
      </ion-col>
      <ion-col>
        Actions
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let col of list" >
      <ion-col>
        {{col.numero}}
      </ion-col>
      <ion-col>
        {{col.libelle}}
      </ion-col>
      <ion-col>
        {{col.date_mvt| date:'dd/MM/yyyy'}}
            </ion-col>
      <ion-col>
{{(col.totttc).toFixed(2)}}
      </ion-col>
      <ion-col> <ion-button  size="small"  color="success" *ngIf="this.role=='facteur'" (click)="onSelect(col)">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-button>
      
    <ion-button  size="small " color="warning"  *ngIf="this.role=='facteur'" (click)="onDelete(col.id)"> <ion-icon name="trash-outline"></ion-icon></ion-button>
    </ion-col>
</ion-row>

  </ion-grid>
</ion-content>