<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> &nbsp; Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class = "user" [formGroup]="this.LoginForm" (ngSubmit)="onSubmit()">
    <ion-item lines="full">
      <ion-label position="floating" >username</ion-label>
      <ion-input type="text" id="username" formControlName="username" placeholder="nom d'utilisateur"  required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating" >Mot de passe</ion-label>
      <ion-input type="password" id="password" formControlName="password"   required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button class="btn btn-primary btn-block " (click)="onSubmit()" >&nbsp; connexion</ion-button>
        </ion-col>
        <ion-col>
        
      </ion-col>
    </ion-row>
  </form>
</ion-content>