
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Gestion de Collecte
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup]="this.service.formData" (ngSubmit)="onSubmit()">
<ion-input  type="hidden"  class="form-control" formControlName="libclient" id="libclient" ></ion-input>
<div class="form-group row col-md-12">
  <div class="form-group col-md-6">
      <ion-label><strong>Num Collecte : </strong></ion-label>
      <ion-input  type="text"  class="form-control" formControlName="numero" id="numero" readonly></ion-input>
  </div>  
  <div class="form-group col-md-6">
    <ion-label><strong>Libelle</strong></ion-label>
    <input  type="text"  class="form-control" formControlName="libelle" id="libelle" >
  </div> 
  <div class="form-group col-md-6" >
    <ion-label><strong>Type Courrier</strong></ion-label>
    <ion-select class="form-control" formControlName="typecorr" id="typecorr" >
        <ion-select-option value="Lettre">Lettre</ion-select-option>
        <ion-select-option value="Colis">Colis</ion-select-option>
        <ion-select-option value="télégramme">télégramme</ion-select-option>
    </ion-select>
    <div *ngIf="f.typecorr.errors" class="invalid-feedback">
        <div *ngIf="f.typecorr.errors.required"> type obligatoire</div>
  </div>

</div>
  
  <div class="col-md-6 form-group">
        <label><strong>Date</strong></label>
      <input  type="date"  class="form-control" formControlName="date_mvt"  id="date_mvt">
  </div>
  <div class="col-md-6 form-group">
    <ion-label><strong>Destination</strong></ion-label>
    <ion-select class="form-control" formControlName="destinationId" id="destinationId" 
    (change)="OnSelectDest($event.target)" placeholder="Select One">
    <ion-select-option value="0">-Select-</ion-select-option>
    <ion-select-option *ngFor="let destination of this.destinationList" value="{{destination.id}}">{{destination.libelle}}</ion-select-option>
    </ion-select>
  </div>
  <div class="col-md-6 form-group">
    <label><strong>Client</strong></label>
    <ion-select class="form-control" formControlName="idclient" id="idclient" 
    (change)="OnSelectClient($event.target)" placeholder="Select One">
    <ion-select-option value="0">-Select-</ion-select-option>
    <ion-select-option *ngFor="let client of this.ClientList" value="{{client.id}}">{{client.nom}}</ion-select-option>
    </ion-select>
  </div>
  <div class="form-group col-md-6">
    <ion-label><strong>Destinataire  </strong></ion-label>
    <ion-input  type="text"  class="form-control" formControlName="beneficier" id="beneficier" ></ion-input>
</div>  
<div class="col-md-6 form-group">
  <ion-label><strong>Voiture</strong></ion-label>
  <ion-select class="form-control" formControlName="codevoiture" id="codevoiture" 
  (change)="OnSelectVoit($event.target)" placeholder="Select One">
  <ion-select-option value="0">-Select-</ion-select-option>
  <ion-select-option *ngFor="let voit of this.VoituresList" value="{{voit.code}}">{{voit.marque}} {{voit.model}}</ion-select-option>
  </ion-select>
</div>
<div class="col-md-6 form-group">
  <label><strong>Chauffeur</strong></label>
  <ion-select class="form-control" formControlName="codechauff" id="codechauff" 
  (change)="OnSelectChauff($event.target)">
  <ion-select-option value="0">-Select-</ion-select-option>
  <ion-select-option *ngFor="let chauff of this.ChauffeursList" value="{{chauff.code}}">{{chauff.nom}} {{chauff.prenom}}</ion-select-option>
  </ion-select>
</div>


  </div>
  <table class="table table-borderless">
    <thead class="thead-light">
      <th>num</th>
      <th>Article</th>
      <th>Poids</th>
      <th>Tva</th>
      <th>Total Ht</th>
      <th>
        <ion-button class="btn btn-sm btn-success text-white" (click)="AddData(null,1)">
            Ajouter </ion-button>
      </th>
    </thead>
    <tbody>
        <tr *ngIf="service.list.length==0" 
         [class.text-danger]="!isValid && service.list.length ==0">
            <td class="font-italic text-center" colspan="5">
              Aucune Depot sélectionnée ...
            </td>
          </tr>
      <tr *ngFor="let item of service.list;let i=index;">
      <td>{{item.numero}}</td>  
      <td>{{item.libart}}</td>
      <td>{{item.poids}}</td>
      <td>{{item.tva}}</td>
      <td>{{item.totht}}</td>
      <td>
          <a class="btn btn-sm btn-info text-white" *ngIf="this.service.choixmenu==1"    (click)="AddData(i,1)">
              <i class="fa fa-pencil"></i></a>
          <a class="btn btn-sm btn-danger text-white" (click)="onDelete(item,item.id,i)">
            <i class="fa fa-trash-o"></i></a>      </td>
    </tr>
    </tbody>
  </table>
  <div class="form-group row">
        <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="form-group">
            <ion-label>Total Ht : </ion-label>
            <ion-input type="text" class="form-control" id="totht" formControlName="totht" readonly></ion-input>
        </div>
        </div> 
        <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="form-group">
            <ion-label>Total Tva  : </ion-label>
            <ion-input type="text" class="form-control" id="tottva" formControlName="tottva" readonly></ion-input>
        </div>
        </div>
        <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="form-group">
        <ion-label>Total TTC : </ion-label>
        <ion-input type="text" class="form-control" id="totttc" formControlName="totttc" readonly></ion-input>
        </div>
        </div>        
     </div>
  <div class="form-group">
    <ion-button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</ion-button>
    <a class="btn btn-outline-dark ml-1" routerLink="/collectes"><i class="fa fa-plus-square"></i> Liste </a>
 </div>
</form> 
    </ion-content>